html {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background: #baacd2;
}

img {
    margin-right: 2px;
}

.block_choice {
    background-color: #feeff4;
    border-left: 6px solid #e04386;
    padding: 30px 25px;
    width: 15%;
    display: block;
    float: left;
    border-radius: 10px; /*  радиус скругления углов рамки */
    margin-bottom: 6px;
}

.block_choice > p {
    margin-left: 16px;
}

.info {
    background-color: #feeff4;
    padding: 5px 5px;
    border-radius: 10px;
    border-left: 6px solid #e04386;
    text-align: center;
    margin-top: -13px;
    margin-bottom: 6px;
    height: auto;
    width: 100%;
}

.block_output {
    padding: 14px 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 16%;
}

.block {
    padding: 10px 30px; /*отступ вложенного текста от рамки */
    background: #ad8596; /* фон рамки */
    border: 2px dashed #e3c3d4; /* размер, форма и цвет рамки */
    border-radius: 10px; /*  радиус скругления углов рамки */
    box-shadow: 0 0 0 4px #968089, 2px 1px 6px 4px rgba(150, 128, 137, 0.5); /* смещение, размер и цвет тени рамки*/
    color: #fff;
    margin: 15px;
    width: 24%;
}

input {
    float: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 4px 12px;
}

.gradient-button {
    display: flex;
    color: white;
    padding: 4px 6px;
    margin-top: 15px;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #9171de 0%, #e04386 51%);
    background-size: 200% auto;
    justify-content: center;
    transition: .5s;
}

.gradient-button:hover {
  background-position: right center;
}